* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Rubik;
  letter-spacing: -0.02em;
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat fixed;

  height: 100vh;
  display: grid;
  place-content: center;
}

strong {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.64);
  font-size: 1.4rem;
 line-height: 1.7rem;
}

#boarding-pass {
  margin: auto;
}

#ticket {
  margin-top: 2rem;
}

section{
  background-color: white;
  padding: 2.4rem 3.2rem;
  box-shadow: 0.8rem 0.4rem 2.4rem rgba(0, 0, 0, 0.25);

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.top {
  border-radius: 2.4rem 2.4rem 0 0;
  gap: 2.4rem;

  --mask: radial-gradient(
    1.2rem at 1.2rem bottom, transparent 98%, black
  ) -1.2rem;
}

.bottom {
  border-radius: 0 0 2.4rem 2.4rem ;
  --mask: radial-gradient(
    1.2rem at 1.2rem top, transparent 98%, black
  ) -1.2rem;
}

.bottom .container {
  align-items: center;
  gap: .8rem;
}

dl.grid {
  gap: 1.6rem;
  min-width: 9.5rem;
}

.bottom > p {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.grid {
  display: grid;
}

.collum {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

.airplane {
  align-self: center;
}

.departure, .arrival {
  width: 12.5rem;
}

.departure strong, .arrival strong {
  font-size: 4rem;
  line-height: 4.7rem;
  color: rgba(0, 0, 0, 0.88);
}

.top time{
  color: rgba(0, 0, 0, 0.8);
  
}

.top time sup {
  font-size: 1rem;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}

.middle {
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-left: 0;
  border-right: 0;
  --mask: radial-gradient(
    1.2rem at 1.2rem 1.2rem, transparent 98%, black
  ) -1.2rem -1.2rem;
}

.qrcode grid  {
  justify-items: center;
}

footer {
  font-size: 14px;
  line-height: 24px;
  color: white;
  opacity: 0.64;
  width: 27rem;
  text-align: center;
  margin: 2rem auto;
}

dt time {
  color: white;
  font-size: 16px;
  line-height: 19px;
  background: #633BBC;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  margin-top: 0.2rem;
}